.class_table {
    width: 100%;
}

.class_table_top {
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;

}

.allSearch a {
    color: #ccc;
}

.class_table_top,
.class_table_bottom {
    width: 1248px;
}

.class_table a:link {
    color: black;
}

.class_table a:hover {
    color: #f10;
    text-decoration: underline;
}

.class_table_bottom ul {
    float: left;
    margin: 25px 0px 20px 150px;