/* 线条部分 */
.line_area {
    width: 1248px;
    margin: 0 auto;
    height: 20px;
    text-align: center;
}

.line {
    height: 10px;
    border-bottom: 1px solid #ddd;
}

.title {
    width: 200px;
    display: inline-block;
    position: relative;
    top: -10px;
    text-align: center;
    background-color: #fff;
    color: #666;
}

/* 分类图片连接 */
.class_pic_area {
    width: 1248px;
    height: 90px;
    margin: 0 auto 10px;
}

.class_pic_wrap {

    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.class_pic {
    display: inline-block;
    margin: 5px;
    width: 150px;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}

.class_pic_1 {
    background-image: url(../img/1.jpg);
}

.class_pic_2 {
    background-image: url(../img/2.jpg);
}

.class_pic_3 {
    background-image: url(../img/3.jpg);
}

.class_pic_4 {
    background-image: url(../img/4.jpg);
}

.class_pic_5 {
    background-image: url(../img/5.jpg);
}

.class_pic_6 {
    background-image: url(../img/6.jpg);
}

.class_pic_7 {
    background-image: url(../img/7.jpg);
}